html {
    height: 100%;
    box-sizing: border-box;
    box-align: center;
  }
  
  body {
    background-image: url("../../assets/images/black.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Vibur';
    font-size: 21pt;
    color:#C44D69
}

.logo {
    text-align: center;
    width: 65%;
    height: 150px;
    margin: auto;
    /* position: absolute; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .logo b{
    font: 100 12vh "Vibur";
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #FFC01E, 0 0 0.5em #FFC01E, 0 0 0.1em #FFC01E, 0 10px 3px #000;
  }
  .logo b span{
    animation: blink linear infinite 2s;
  }
  @keyframes blink {
    78% {
      color: inherit;
      text-shadow: inherit;
    }
    79%{
       color: #FFBA08;
    }
    80% {
      
      text-shadow: none;
    }
    81% {
      color: inherit;
      text-shadow: inherit;
    }
    82% {
      color: #FFBA08;
      text-shadow: none;
    }
    83% {
      color: inherit;
      text-shadow: inherit;
    }
    92% {
      color: #FFBA08;
      text-shadow: none;
    }
    92.5% {
      color: inherit;
      text-shadow: inherit;
    }
  }


  
  h1, h2 {
      text-align: center;
  }

  h1 {
      color: rgb(248, 195, 20);
      font-size: 50px;
  }
  
  .containter {
      width: 100%;
      max-width: 950px;
      margin: 0 auto;
       }
  
  
 #guessBox {
  text-align: center;
    
 }

 #insideGuessBox {
    opacity: 0.6;
    filter: alpha(opacity=50);
    width: 600px;
    height: 500px;
    display: inline-block;
    text-align: left;

 }

  .instructions {
    text-align: center;
    width: 65%;
    height: 150px;
    margin: auto;
    /* position: absolute; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .instructions b{
    font: 100 5vh "Vibur";
    color: #D88E9F;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #C44D69, 0 0 0.5em #C44D69, 0 0 0.1em #C44D69, 0 10px 3px #000;
  }
  .instructions b span{
    animation: blink linear infinite 2s;
  }
  @keyframes blink {
    78% {
      color: inherit;
      text-shadow: inherit;
    }
    79%{
       color: #932832
    }
    80% {
      
      text-shadow: none;
    }
    81% {
      color: inherit;
      text-shadow: inherit;
    }
    82% {
      color:#932832;
      text-shadow: none;
    }
    83% {
      color: inherit;
      text-shadow: inherit;
    }
    92% {
      color: #932832;
      text-shadow: none;
    }
    92.5% {
      color: inherit;
      text-shadow: inherit;
    }
  }


  
  